<!doctype html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'pages/img/ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pages/img/ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pages/img/ico/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'pages/img/ico/safari-pinned-tab.svg' %}" color="#5bbad5">

    <title>Seafly</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/material-design-icons-iconfont@5.0.1/dist/material-design-icons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://kit.fontawesome.com/edcb8962d6.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    {% block css %} {% endblock css %}
    <link rel="stylesheet" href="{% static 'pages/css/base.css' %}">
</head>
<body>

    <div id="top">
        <v-app>
            <nav>
                <div class="container" id="header">
                    <div id="logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'pages/img/seafly-logo.png' %}" alt="logo" width="78px">
                        </a>
                    </div>
                    <div id="menus" v-if="!is_search" class="disappear ml-5">
                        <span class="menu--item mr-4" v-for="(item, key) in menus" :key="key">
                            <div class="text-center align--item">
                                <v-menu open-on-hover offset-y>
                                  <template v-slot:activator="{ on }">
                                      <a :href="'/' + item.route" :class="linkActive(item.route)" v-on="on"> [[ item.name.toUpperCase() ]]</a>
                                  </template>
                                  <div v-if="item.sub !== undefined">
                                    <v-list>
                                      <v-list-item
                                              v-for="(item, index) in item.sub"
                                              :key="index"
                                              color="primary"
                                      >
                                          <v-list-item-title><a :href="'/' + item.route" :class="linkActive(item.route)" style="text-decoration: none">[[ item.name ]]</a></v-list-item-title>
                                      </v-list-item>
                                    </v-list>
                                </div>
                                </v-menu>
                              </div>
                        </span>
                    </div>
                    <div id="buttons" class="align--item" v-if="!is_search">
                        <span class="btn--item disappear">
                            <v-btn color="primary" small class="mr-1" :to="{name: 'devis'}">DEVIS GRATUIT</v-btn>
                        </span>
                        <span v-if="is_good_size" class="align--item disappear">
                            <v-select
                                    :items="btns"
                                    label="Langues"
                                    style="position: relative; bottom: .3rem;margin: 0 .7rem 0 .7rem"
                                    dense></v-select>
                        </span>
                        <span class="btn--item">
                            <v-btn icon class="btn--item" @click.prevent="search">
                                <v-icon color="primary">search</v-icon>
                            </v-btn>
                        </span>

                        <!-- BURGER BUTTON -->
                        <span class="btn--item" id="bugger--btn">
                            <v-app-bar-nav-icon color="primary" class="" @click.prevent="drawer = true"/>
                        </span>
                        <!-- END BURGER BUTTON -->
                    </div>
                    <transition name="translate">
                        <div class="search--bar align--item" v-if="is_search">
                            <div class="search--elt">
                                <input type="text"
                                       placeholder="Rechercher..."
                                       class="search--input"
                                       v-model="my_search"
                                       id="search"
                                >
                                <v-btn icon class="btn--item input-btn" @click.prevent="search" id="go">
                                    <v-icon>search</v-icon>
                                </v-btn>
                            </div>
                            <v-btn icon class="btn--item input-btn" @click.prevent="closed">
                                <v-icon color="primary" class="">close</v-icon>
                            </v-btn>
                        </div>
                    </transition>

                </div>
                <v-navigation-drawer
                            v-model="drawer"
                            dark app
                            class="darken-3 py-0"
                            color="primary"
                            style="overflow: paged-x"
                            absolute
                            temporary
                    >
                        <v-container>
                            <v-row>
                                <v-col md="12">
                                    <img src="{% static 'pages/img/seafly-logo.png' %}" alt="logo" width="78px">
                                </v-col>
                            </v-row>
                        </v-container>
                        <v-list nav>
                            <v-list-item v-for="(item, key) in menus" :key="key">
                                <v-list-item-action>
                                    <v-icon small>fa fa-tachometer-alt</v-icon>
                                </v-list-item-action>
                                <v-list-item-content>
                                    <v-list-item-title>
                                        <router-link :to="item.route" tag="span" v-if="item.route !== undefined">[[ item.name ]]</router-link>
                                        <span v-if="item.route === undefined">[[item.name]]</span>
                                    </v-list-item-title>
                                </v-list-item-content>
                            </v-list-item>
                        </v-list>
                        <v-layout row style="width: 100%" class="mt-10">
                            <v-btn color="primary" small class="mb-10" style="margin: auto" :to="{name: 'devis'}">DEVIS GRATUIT</v-btn>
                            <div class="align--item drawer--lang">
                                <v-btn outlined fab x-small color="white" v-for="(item, key) in btns" :key="key" class="ma-2 mt-3 mb-3">[[ item ]]</v-btn>
                            </div>
                        </v-layout>
                    </v-navigation-drawer>
            </nav>
        </v-app>
    </div>
    <div class="container">
            {% block content %} {% endblock content %}
    </div>


    <footer>
        <class id="bottom" class="text--primary" app>
            <v-container>
                <div class="footer--items">
                    <div class="footer--item" :style="{width: item.width + '%'}" v-for="(item, key) in footers" :key="key">
                        <div class="footer--item--title">
                            <h3>[[ item.name ]]</h3>
                        </div>
                        <div class="footer--item--content text--primary">
                            <ul>
                                <li v-for="(subitem , key) in item.links" :key="key"><a :href="subitem.to">[[ subitem.name ]]</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="footer--item" style="width: 23%">
                        <div class="footer--item--title">
                            <h3>Nous Contacter</h3>
                        </div>
                        <div class="footer--item--content">
                            <div class="footer--item--subtitle">
                                Sea Fly Services Co., Ltd.
                            </div>
                            <div class="align--item">
                                <ul style="width: 65%">
                                    <li v-for="contact in contacts" :key="contact"><a href="contact">[[ contact ]]</a></li>
                                    <li>
                                        <v-btn class="ma-2 white--text" style="background: #3B5998; color: white" x-small fab color="facebook">
                                            <v-icon>fab fa-facebook-f</v-icon>
                                        </v-btn>
                                        <v-btn class="ma-2 white--text" style="background: #2867B2; color: white" x-small fab color="linkedin">
                                            <v-icon>fab fa-linkedin-in</v-icon>
                                        </v-btn>
                                    </li>
                                </ul>
                                <div class="map pr-3" style="width: 35%">
                                    <a href="contact"><img src="{% static 'pages/img/bottom-map.jpg' %}" alt="" style="width: 100%"></a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="footer--item" style="width: 25%; border-right: 1px solid #dddddd;">
                        <div class="footer--item--title">
                            <h3>Nos réseaux</h3>
                        </div>
                        <div class="footer--item--content">
                            <div class="footer--item--content">
                                <div class="imgs">
                                    <a href="/"><img src="{% static 'pages/img/ftcc-logo.png' %}"></a>
                                    <a href="/"><img src="{% static 'pages/img/east-west.jpg' %}"></a>
                                    <a href="/"><img src="{% static 'pages/img/5star-logo.jpg' %}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="footer--bar"><div class="footer--copy">©Sea Fly Services - 2018 tous droits réservés.</div><div class="footer--dev">Developpé par
                    <a href="#" style="color: var(--primary)">ChickDev.cm</a></div></div>
            </v-container>
        </class>
    </footer>


    <script>

    </script>

    <script>
        let vuetify = new Vuetify({
                icons: {
                    iconfont: 'md' || 'fa'
                },
                theme: {
                    themes: {
                        light: {
                            primary: '#ed120b',
                            linkedin: '#2867B2',
                            facebook: '#3B5998'
                        },
                    },
                }
            });
        // TOP VUE
        new Vue({
            delimiters: ['[[', ']]'],
            vuetify: vuetify,
            el: '#top',
            data: () => {
            return {
                drawer: false,
                menus: [
                        {
                            name: 'Notre Société',
                            route: 'about'
                        },
                        {
                            name: 'Nos Services',
                            sub: [
                                {
                                    name: 'Fret Maritime',
                                    route: 'fret-maritime'
                                },
                                {
                                    name: 'Fret Aérien',
                                    route: 'fret-aerien'
                                },
                                {
                                    name: 'Service lettre, petit colis express',
                                    route: 'colis-express'
                                },
                                {
                                    name: 'Déménagements',
                                    route: 'demenagements-internationaux'
                                },
                                {
                                    name: 'Formalités Douanières',
                                    route: 'formalites-douanieres'
                                },
                                {
                                    name: 'Transport Frontalier',
                                    route: 'transports-frontaliers'
                                },
                            ]
                        },
                        {
                            name: 'Destinations',
                            sub: [
                                {
                                    name: 'DOM TOM',
                                    route: 'expedition-dom-tom'
                                },
                                {
                                    name: 'France',
                                    route: 'expedition-france'
                                },
                                {
                                    name: 'Chine',
                                    route: 'expedition-chine'
                                },
                                {
                                    name: 'Expédition à l\'international',
                                    route: 'expedition-internationaux'
                                },
                            ]
                        },
                        {
                            name: 'Promotions',
                            route: 'promos'
                        },
                        {
                            name: 'F.A.Q',
                            route: 'faq'
                        },
                        {
                            name: 'Nous Contacter',
                            route: 'contact'
                        }
                    ],
                test : 'Tesxt',items: [
                        { title: 'Click Me' },
                        { title: 'Click Me' },
                        { title: 'Click Me' },
                        { title: 'Click Me 2' },
                      ],
                btns: [
                    'en',
                    'fr',
                    'th'
                ],
                is_search: false,
                is_good_size: true,
                my_search: ''
            }
            },
            mounted() {
                document.getElementById('top').style.visibility = 'visible';
            },
            methods: {
                search: function() {
                    if(!this.is_search) {
                      this.is_search = true;
                    } else{
                      if(this.my_search === ''){
                          this.closed();
                      } else {
                          console.log("Search")
                      }
                    }
                },
                closed () {
                    this.is_search = false
                },
                linkActive(path) {
                    return window.location.pathname.includes(path) ? 'active-link' : '';
                }
            }
        });

        // BOTTOM VUE
        new Vue({
            delimiters: ['[[', ']]'],
            vuetify: vuetify,
            el: '#bottom',
            data: () => ({
                footers: [
                    {
                        name: 'Notre société',
                        links: [
                            {
                                name: 'Notre Société',
                                to: 'about'
                            }
                            ,
                            {
                                name: 'Promotions',
                                to: 'promos'
                            }
                            ,
                            {
                                name: 'Carrière',
                                to: 'career'
                            }
                            ,
                            {
                                name: 'Nous Contacter',
                                to: 'contact'
                            }
                        ],
                        width: 12
                    },
                    {
                        name: 'Nos Services',
                        links: [
                            {
                                name: 'Fret Maritime',
                                to: 'fret-maritime'
                            },
                            {
                                name: 'Fret Aérien',
                                to: 'fret-aerien'
                            },
                            {
                                name: 'Service lettre, petit colis express',
                                to: 'colis-express'
                            },
                            {
                                name: 'Déménagements',
                                to: 'demenagements-internationaux'
                            },
                            {
                                name: 'Formalités Douanières',
                                to: 'formalites-douanieres'
                            },
                            {
                                name: 'Transport Frontalier',
                                to: 'transports-frontaliers'
                            },
                        ],
                        width: 20
                    },
                    {
                        name: 'Outils & Ressourcesfo',
                        links: [
                            {
                                name: 'Conversions Volumétriques',
                                to: 'convert'
                            },
                            {
                                name: 'Incoterms',
                                to: 'transports-frontaliers'
                            },
                            {
                                name: 'Spécifications sur les Conteneurs',
                                to:  'specification'
                            },
                        ],
                        width: 20
                    }
                ],
                contacts: [
                    '93/1 Soi Suntornsiri, Huaikwang,',
                    'Bangkok,Thailand 10310',
                    'Tel: +66(0) 26903523 - 7'
                ]
            }),
            mounted(){
                document.getElementById('bottom').style.visibility = 'visible';
            }
        })
    </script>
    {% block js %} {% endblock js %}
</body>
</html>